#header, #sidebar, #footer
{
	display: none;
}

body, table, a, a:active, a:link, a:visited, .m, h1, h2, h3, h4, h5, .warning, pre, pre.spec, pre.code, pre.screen
{
	color: black;
	background-color: white;
	background-image: none;
	border: none;
}

#page
{
	margin-left: 0px;
	margin-right: 0px;
	border: none;
}

a		{ text-decoration: underline; }
a.blank:after	{ content: ""; }
a.down:after	{ content: ""; }
