/*
 * Copyright 2013 Michal Turek
 *
 * This file is part of Graphal.
 * http://graphal.sourceforge.net/
 *
 * Graphal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * Graphal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Graphal.  If not, see <http://www.gnu.org/licenses/>.
 */


#header, #sidebar, #footer
{
	display: none;
}

body, table, a, a:active, a:link, a:visited, .m, h1, h2, h3, h4, h5, .warning, pre, pre.spec, pre.code, pre.screen
{
	color: black;
	background-color: white;
	background-image: none;
	border: none;
}

#page
{
	margin-left: 0px;
	margin-right: 0px;
	border: none;
}

a		{ text-decoration: underline; }
a.blank:after	{ content: ""; }
a.down:after	{ content: ""; }
