/*
 * Copyright 2013 Michal Turek
 *
 * This file is part of Graphal.
 * http://graphal.sourceforge.net/
 *
 * Graphal is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * Graphal is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Graphal.  If not, see <http://www.gnu.org/licenses/>.
 */


body
{
	font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif;
	background-color: white;
	color: black;
	font-size: 10pt;
	text-align: justify;
	line-height: 1.6em;
	margin: 0px;
}

#footer		{ clear: both; width: 100%; text-align: center; margin-top: 50px; border-top: 1px solid gray; }

#sidebar	{ width: 17%; margin-left: 3%; padding-bottom: 30px; display: inline; float: left; text-align: left; }
#sidebar .img	{ text-align: left; margin-bottom: 2em; }
#page		{ margin: 3em 3% 3em 20%; }

#sidebar ul		{ margin-left: 1.5em; padding: 0px; }
#sidebar .label		{ font-weight: bold; }
#screenshot		{ float: right; }


p			{ margin-bottom: 1em; }
a, .m			{ color: blue; text-decoration: none; }
a:hover, .m:hover	{ text-decoration: underline; }
.blank:after		{ content: " " url("images/website/blank.gif"); }
.down:after		{ content: " " url("images/website/down.gif"); }
.active			{ font-weight: bold; }
.active:hover		{ text-decoration: none; }

.warn			{ color: red; font-weight: bold; }
.todo			{ /*color: red; font-weight: bold; */ }
.todo:before		{ /*content: "TODO: ";*/ }
.invalid_link		{ color: green; }
.cleaner		{ clear: both; }
.img			{ text-align: center; font-style: italic; }

pre
{
	font-family: Clean, "Courier New", Courier, monospace;
	text-align: left;
	padding: 1em;
	line-height: 1.1em;
	overflow: auto;
	border: 1px solid silver;
}

img			{ border: none; }
pre:hover	{ border: 1px solid gray; }
pre.spec	{ background-color: rgb(200, 200, 255); border: 1px solid black; }
pre.code	{ background-color: rgb(200, 255, 200); border: 1px solid black; }
pre.screen	{ background-color: rgb(255, 200, 200); border: 1px solid black; }

table			{ max-width: 100%; margin-bottom: 30px; }
tr			{ background-color: rgb(200,200,255); }
tr:hover		{ background-color: rgb(150,150,255); }
th, td			{ padding-left: 1em; padding-right: 1em; text-align: left; }
th			{ border: 1px solid rgb(180,180,180); background-color: rgb(170,170,255); }

.screenshots .img	{ float: left; padding: 1em; margin: 1em; border: 1px solid silver; }
.screenshots .img:hover	{ border: 1px solid gray; }
